.product2-right .image {
  width: 1100px;
  height: 1000px;
  margin-left:100px;
  margin-top: 100px;

}
.product2-container {
  display: flex;
  justify-content: space-around;
 
  margin-bottom: 500px;
}
.product2-left {
  display: flex;
  flex-direction:column;
  width: 500px;
  text-align:unset; 
  color: rgb(0, 0, 0);
  font-size: medium;
  font-weight: 200;
  gap: 10px;
  margin-top: 370px;
  margin-left: 100px;
}
