.product1-right .image {
  width: 500px;
  height: 500px;
  margin-right: 100px;
  margin-bottom: 500px;
 
  
  
}
.product1-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  margin-right: 250px;
  margin-left: 250px;
}

.product1-left {
  display: flex;
  flex-direction: column;
  width: 1000px;
  text-align:justify;
  color: rgb(25, 6, 6);
  font-size: larger;
  font-weight: 300;
  gap: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 200px;
}
.product1 {
  margin-top: 1000px;
}
